body {
  width: 75%;
  margin: auto;
}

form {
  margin-top: 5em;
  margin-bottom: 1em;
}

label {
  font-size: 1.5em;
}

h1, h2 {
  text-align: center;
}

.hidden {
  display: none;
}

#questions {
  max-width: 900px;
  margin: auto;
}

#response {
  margin-top: 4em;
}

#next, #submit {
  float: right;
}